@font-face {
    font-family: "comic";
    src: url(./assets/fonts/ComicSansMS3.ttf);
}

body {
    font-family: "comic", sans-serif;
    animation: bg 8s infinite alternate ease-in-out;
    color: oklch(98% 0.02 80);
}

.index__body {
    overflow: hidden;
}

.timer__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 98vh;
}

.timer__label {
    font-size: 4rem;
}

.divsplay {
    font-size: 8rem;
    font-weight: 600;
    background-image: linear-gradient(110deg, oklch(75% 0.30 336), oklch(60% 0.3 264), oklch(75% 0.19 150), oklch(75% 0.20 108), oklch(75% 0.3 20));
    color: transparent;
    background-clip: text;
    animation: textAnim 8s infinite alternate ease-in-out;
    background-size: 600% auto;
    /* text-shadow: -4px -2px #111f; */
    filter: drop-shadow(6px 3px 0 #000b);
}

.divsplay span::selection {
    background-color: #fff8;
    color: black;
}

@keyframes textAnim {
    0% {
        background-position: 0 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}

@keyframes bg {
    0% {
        background-color: oklch(10% 0.05 336);
    }

    25% {
        background-color: oklch(10% 0.05 264);
    }

    50% {
        background-color: oklch(10% 0.05 150);
    }

    75% {
        background-color: oklch(10% 0.05 108);
    }

    100% {
        background-color: oklch(10% 0.05 20);
        ;
    }
}

.bg-alert {
    animation: bg-alert 0.2s 50 forwards;
}

@keyframes bg-alert {
    0% {
        background-color: #eee;
    }
    100% {
        background-color: #111;
    }
}

.options__button {
    position: absolute;
    top: 10px;
    left: 10px;

    svg {
        height: 80px;
        width: 80px;

        path {
            animation: opt 8s infinite alternate ease-in-out;
        }
    }
}

.options__button:hover {
    filter: drop-shadow(0 0 4px #fff8) drop-shadow(0 0 1px #fffa) brightness(1.5);
}

@keyframes opt {
    0% {
        stroke: oklch(75% 0.3 336);
    }

    25% {
        stroke: oklch(50% 0.3 264);
    }

    50% {
        stroke: oklch(75% 0.19 150);
    }

    75% {
        stroke: oklch(75% 0.2 108);
    }

    100% {
        stroke: oklch(75% 0.3 20);
        ;
    }
}

.opt__main {
    width: clamp(330px, 70vw, 1100px);
    margin: auto;

    h1 {
        text-align: center;
        font-size: 2.5rem;
        margin-bottom: 45px;
    }

    a {
        color: oklch(98% 0.02 80);
        text-decoration: none;
        position: absolute;
        top: 20px;
        margin-left: 10px;
        ;
        font-size: 1.2rem;
        font-style: italic;
    }

    a:hover {
        background-image: linear-gradient(110deg, oklch(75% 0.30 336), oklch(60% 0.3 264), oklch(75% 0.19 150), oklch(75% 0.20 108), oklch(75% 0.3 20));
        color: transparent;
        background-clip: text;
        animation: textAnim 8s infinite alternate ease-in-out;
        background-size: 600% auto;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 10px;

        fieldset {
            border-radius: 3px;
            display: flex;
            flex-direction: column;

            legend {
                font-size: 1.2rem;
                background-image: linear-gradient(110deg, oklch(75% 0.30 336), oklch(60% 0.3 264), oklch(75% 0.19 150), oklch(75% 0.20 108), oklch(75% 0.3 20));
                color: transparent;
                background-clip: text;
                animation: textAnim 8s infinite alternate ease-in-out;
                background-size: 600% auto;
            }

            label {
                display: flex;
                gap: 5px;
                input {
                    order: -1;
                }
                input[type='checkbox'] {
                    border: 5px blue solid;
                }
            }
        }

        .form__buttons {
            margin-top: 10px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 10px;

            button {
                height: 2.4rem;
                border-radius: 10px;
                border: none;
                font-family: "comic", sans-serif;
                font-size: 1.3rem;
                /* width: 50%; */
                justify-self: stretch;
                cursor: pointer;
            }

            #resetForm {
                display: flex;
                align-items: center;
                justify-content: center;

                position: relative;
                box-sizing: border-box;

                animation: bg 8s infinite alternate ease-in-out;
                background-clip: padding-box;
                border: solid 3px transparent;

            }

            #resetForm::after {
                background-image: linear-gradient(110deg, oklch(75% 0.30 336), oklch(60% 0.3 264), oklch(75% 0.19 150), oklch(75% 0.20 108), oklch(75% 0.3 20));
                color: transparent;
                animation: textAnim 8s infinite alternate ease-in-out;
                background-size: 600% auto;
                background-clip: text;
                content: "Réinitialiser";
                pointer-events: none;
                height: 105%;
                border-radius: inherit;
                position: absolute;
            }

            #resetForm::before {
                content: "";
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                margin: -3px;
                border-radius: inherit;
                background: linear-gradient(to right, red, orange);
                background-image: linear-gradient(110deg, oklch(75% 0.30 336), oklch(60% 0.3 264), oklch(75% 0.19 150), oklch(75% 0.20 108), oklch(75% 0.3 20));
                animation: textAnim 8s infinite alternate ease-in-out;
                background-size: 600% auto;
            }

            #ok {
                background-image: linear-gradient(110deg, oklch(75% 0.30 336), oklch(60% 0.3 264), oklch(75% 0.19 150), oklch(75% 0.20 108), oklch(75% 0.3 20));
                animation: textAnim 8s infinite alternate ease-in-out;
                background-size: 600% auto;
                color: oklch(10% 0 0);
            }

            #ok:hover {
                filter: brightness(1.2);
            }

            #resetForm:hover #resetForm::after {
                filter: brightness(3);
            }
        }
    }
}

.not_working {
    text-decoration: line-through;
}